<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="/libs/bootstrap.min.css">
  </head>

    {% block body %}{% endblock %}

  <body>
  <script src="/libs/jquery.js"></script>
  <script src="/libs/vue.js"></script>
  <script src="/libs/popper.min.js"></script>
  <script src="/libs/bootstrap.min.js"></script>
  <script src="/javascripts/PhoneBook.js"></script>
  </body>
</html>
