<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Reset.css">
    <link rel="stylesheet" type="text/css" href="ToDoList.css">
    <title>ToDoListVue</title>
</head>
<body>
<div id="toDoListVue">
    <h1>ToDo List Vue</h1>

    <div class="div"><label>
        <input id="textArea" type="text" v-model="newText" :class="{isInvalid}"/></label>
        <button id="addButton" type="button" @click="addNote" class="button">Add</button>
        <div v-cloak v-if="isInvalid" class="validationMessage"> Type text!</div>
    </div>

    <ul class="toDoList" v-cloak>
        <add-note
                v-bind:item="item"
                v-for="item in items"
                v-on:remove="removeNote"
                v-on:edit="editNote"
                v-on:save="addEditedNote"
                :isEditing="item.isEditing"
                :text="item.text"
               >
        </add-note>


    </ul>
</div>

<script id="templ" type="text/x-template">
    <li>
        <div v-if="item.isEditing">
            <input id="newText" type="text" v-model="newTextEdited">
            <button @click="remove" class="button">X</button>
            <button @click="cancel" class="button">Cancel</button>
            <button @click="save" class="button">Save</button>
        </div>
        <div v-else ><span v-text="item.text" class="span"></span>
            <button @click="remove" class="button">X</button>
            <button @click="edit(item)" class="button">Edit</button>
        </div>

    </li>
</script>

<script id="templ2" type="text/x-template">
    <li>
    </li>
</script>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="ToDoListVue.js"></script>
</body>
</html>