<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Reset.css">
    <link rel="stylesheet" type="text/css" href="ToDoList.css">
    <title>ToDoListVue</title>
</head>
<body>
<div id="toDoListVue">
    <h1>ToDo List Vue</h1>

    <div class="div"><label>
        <input id="textArea" type="text" v-model="newText" :class="{isInvalid}"/></label>
        <button id="addButton" type="button" @click="addNote" class="button" :disabled="isDisabled">Add</button>
        <div v-cloak v-if="isInvalid" class="validationMessage"> Type text!</div>
    </div>

    <ul class="toDoList" v-cloak>
        <li v-for="item in items">
            <div v-if="item.isEditing===false">
                <span v-text="item.text" class="span"></span>
                <button @click="removeNote(item)" class="button">X</button>
                <button @click="editNote(item)" class="button" :disabled="isDisabled">Edit</button>
            </div>
            <div v-else>
                <input id="newText" type="text" v-model="newTextEdit">
                <button @click="removeNote(item)" class="button">X</button>
                <button @click="cancel(item)" class="button">Cancel</button>
                <button @click="addEditedNote(item)" class="button">Save</button>
            </div>
        </li>
    </ul>
</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="ToDoListVue.js"></script>
</body>
</html>