.table th {
    border: 1px solid #cfcfcf;
    background-color: #3498db;
    color: #ffffff;
    padding: 16px 10px;
    font-weight: bold;
    font-size: 20px;
}

.table td {
    width: 170px;
    border: 1px solid #cfcfcf;
    padding: 16px 10px;
}

.table tr:nth-child(odd) {
    background-color: #eeeeee;
}

.table td:nth-child(3n) {
    width: 310px;
}

.table td:nth-child(4n) {
    width: 195px;
}

.for_all {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    color: #242424;
}

.table {
    border-collapse: collapse;
}